body {
  background-color: #bbb8b8;
  height: 100vh;
  width: 100%;
  font-family: "RobotoRegular", sans-serif;
}
.wrapper {
  height: 800px;
  width: 1020px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px 30px 30px 30px;
}
/* =============================================== User Info Container ===========================*/
.user_info_container {
  height: 300px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 55px;
  gap: 60px;
  border-radius: 30px 0 0 0;
}
.photo_container {
  height: 220px;
  width: 220px;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo_container img {
  height: 90%;
  width: 90%;
}
.user_information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.follow_button {
  height: 57px;
  width: 172px;
  background-color: #308fe3;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid #0f84ab;
  box-shadow: -2px 2px 2px #000, -3px 3px 3px#000, -4px 4px 4px #000;
}
.follow_button:active {
  box-shadow: inset -1px 2px 2px #000, inset -2px 3px 3px#000,
    inset -3px 4px 4px #000;
}
.main_profile_link {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap:10px;
}
.user_name {
  font-size: 26px;
  font-family: "RobotoBold", sans-serif;
}
.follow_sign {
  font-size: 16px;
  color: #7f746b;
}
.position {
  font-size: 1.5rem;
  color: #656565;
  text-shadow: 1px 0 1px black;
}
/* ============================================= profile info container ============================================*/
.profile_info {
  height: 300px;
  width: 100%;
  background-color: #f2f0ec;
  box-shadow: inset -4px 3px 1px #cdcbc8, inset -6px 4px 3px #cdcbc8;
  padding: 50px 0;
  display: flex;
  color: #777777;
}
.profile_statistic {
  height: 100%;
  width: 100%;
  border-right: 2px solid #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile_info div:nth-child(3) {
  border: none;
}
.profile_statistic_numbers {
  font-size: 2.5rem;
}
.number_description {
  font-size: 1.7rem;
  text-transform: uppercase;
}
/* ================================= Comment Container =============================*/
.comment_container {
  height: 200px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -4px 1px #eceae6;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 60px;
  position: relative;
  border-radius: 0 0 0 30px;
}
.user_comment {
  height: 100px;
  width: 800px;
  background-color: #ccc8c0;
  border-radius: 20px;
  padding: 15px 35px 0 15px;
  font-size: 25px;
}
.send_button {
  height: 100px;
  width: 100px;
  background-color: #308fe3;
  color: #fff;
  position: relative;
  left: -35px;
  bottom: 36px;
  border-radius: 10px;
  font-size: 40px;
}
/* =============================================== Social networks container ===========================*/
.social_networks_container {
  height: 100%;
  position: absolute;
  left: 97%;
  top: 0;
  box-shadow: -6px 0 4px #d2cfba;
}
.social_network_link {
  display: block;
  width: 100px;
  height: 100px;
  border-bottom: 1px solid grey;
  background: #201f1d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
  transition: 0.5s all linear;
}
.hovered:hover {
  width: 130px;
}
.social_networks_container a:nth-child(1):hover {
  background: #379bf1;
  font-size: 50px;
}
.social_networks_container a:nth-child(2):hover {
  background: #3b5998;
  font-size: 50px;
}
.social_networks_container a:nth-child(3):hover {
  background: #dc4e41;
  font-size: 50px;
}
.social_networks_container a:nth-child(4):hover {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  font-size: 50px;
}
.social_networks_container a:nth-child(5):hover {
  font-size: 50px;
}
.filler {
  border: none;
}
